/*base styling*/
body {
    font-size: 12px;
    color: #666;
}
h1 {
    color: white;
}

h2, h3 {
    color: rgba(119, 191, 163, 1.0)
}


/* Layout */

.layout-container {

}

.layout-container .row{
    display: flex;
    width: 100%
}

.main-header {
    background-color: rgba(119, 191, 163, 1.0);
    color: white;
    justify-content: space-between;

}

.main-body {
    justify-content: space-around;
}

.component-container {
    border: 1px solid rgba(237, 238, 201, 1.0);
    align-items: center;
    width: 75%;
}

/* Form Elements  */
input {
    display: block;
    font-size:1rem;
}

input[type="text"] {
	border:1px solid #666;
	padding: .5rem;
	width: 75%;
}

input[type="submit"] {
	margin: .25rem;
    margin-left: 0;
    color: white;
	border: 1px solid rgba(237, 238, 201, 1.0);
	padding: .5rem;
	background-color: rgba(119, 191, 163, 1.0);
}

label {
    color: rgba(119, 191, 163, 1.0);
    padding: .25rem 0;
}